
@{
    ViewData["Title"] = "Index";
}

                    
<div  style="display: inline-block;margin-right:20px; padding-bottom:1%">
    <h1>Order History</h1>
</div>
@foreach (var history in Model)
    {
        <div class="container-fluid padding" style="background-color:dimgray">
            <div class="row padding" style="margin-bottom:0.5%">
                <div class="desc col-lg-8" style="padding-top:20px">
                    <p><b>Date: </b>@history.OrderDate</p>
                    <p><b>Product Name: </b>@history.ProductName</p>
                    <p><b>Quantity: </b>@history.Quantity</p>
                    <p><b>Price: $ </b>@history.ProductPrice</p>
                    <p><b>Total Price: $ </b>@history.TotalPrice</p>
                </div>
            </div>
        </div>

    }
